<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="helloJSF" version="3.1">
	<display-name>"helloJSF"</display-name>


	<listener>
    	<listener-class>com.sun.faces.config.ConfigureListener</listener-class>
	</listener>
	<listener>
    	<listener-class>org.jboss.weld.environment.servlet.Listener</listener-class>
	</listener>

	<welcome-file-list>

		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>


	<!-- Time in seconds that facelets should be checked for changes since last 
		request. A value of -1 disables refresh checking. -->
	<context-param>
		<param-name>javax.faces.FACELETS_REFRESH_PERIOD</param-name>
		<param-value>0</param-value>
	</context-param>

	<!-- Set the project stage to "Development", "UnitTest", "SystemTest", or 
		"Production". -->
	<!-- An optional parameter that makes troubleshooting errors much easier. -->
	<!-- You should remove this context parameter before deploying to production! -->
	<context-param>
		<param-name>javax.faces.PROJECT_STAGE</param-name>
		<param-value>Development</param-value>
	</context-param>


</web-app>
