@charset "ISO-8859-1";

*{
	font-family: 'Roboto', sans-serif;
	text-align: center;
	list-style: none;
}
li a:hover{
	color: yellow;
}
li a{
	text-decoration: none;
	color: black;
}

 div#nichtmarkieren { 
            -ms-user-select: None; 
            -moz-user-select: None; 
            -webkit-user-select: None; 
        } 
        
        button[type=submit]{
            font-family:Arial;
            font-size:  15px;
            font-weight:      bold;
            color:      black;
            background-color: #00FF00;
            border-collapse: collapse;
            margin: 10px;
        }
        